.root {
    --main-bg: -45deg, #1E134D, #54154B;
    --info-field-bg: -45deg, #1E134D, #54154B;
    --navigation-bg: #1E134D;
    --navigation-color: #D73CBE;
    --description-content-color: white;
    --outline: white solid 0px;
    --image-outline: #D73CBE solid 2px;
}

.root2 {
    --main-bg: -45deg, #2F3D81, #1B153F;
    --info-field-bg: -45deg, #2F3D81, #54154B;
    --navigation-bg: #1E134D;
    --navigation-color: #168BD5;
    --description-content-color: white;
    --outline: white solid 0px;
    --image-outline: #255D87 solid 2px;
}

.root2 {
    --main-bg: -45deg, #282828, #282828;
    --info-field-bg: -45deg, #363636, #363636;
    --navigation-bg: #00897B;
    --navigation-color: white;
    --description-content-color: white;
    --outline: white solid 0px;
    --image-outline: #00897B solid 2px;
}

.root3 {
    --main-bg: -45deg, #007C7C, #003E3E;
    --info-field-bg: -45deg, #363636, #363636;
    --navigation-bg: #00BABA;
    --navigation-color: white;
    --description-content-color: white;
    --outline: white solid 0px;
    --image-outline: #00897B solid 2px;
}

:root {
    --main-bg: -45deg, #292929, #292929;
    --info-field-bg: -45deg, #363636, #363636;
    --navigation-bg: #03DAC5;
    --navigation-color: black;
    --description-content-color: white;
    --outline: white solid 0px;
    --image-outline: #03DAC5 solid 2px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto Light', sans-serif;
    font-size: 20px;
    background: black;
    color: white;
}

.main {
    max-width: 100%;
    max-height: 100%;
    margin: auto;

    display: flex;
    height: 100vh;
    background: linear-gradient(var(--main-bg));
    border-radius: 10px;
}

.info {
    max-width: 35%;
    width: auto;
    background: linear-gradient(var(--info-field-bg));
    padding: 10px;
    border-radius: 10px;
    margin: 25px 25px 25px 0;
    outline: var(--outline);
    outline-offset: -2px;
}

.info-bar {
    display: flex;
    margin: 0 -10px 0 -10px;
    color: var(--navigation-color);
}

.info-bar-element {
    margin: 0 10px 0 10px;
}

.info-name {
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: var(--navigation-bg);
}

.info-counter {
    margin-left: auto;
}

.info-button {
    text-align: center;
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    background: var(--navigation-bg);
    user-select: none;
}

.info-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.info-button:active {
    transform: scale(0.9);
}

.description {
    word-wrap: unset;
    margin: 10px 0 0 0;
    padding: 10px;
    border-radius: 10px;
    outline: var(--outline);
    outline-offset: -2px;
}

.description-content {
    color: var(--description-content-color);
}

.yep {
    border-radius: 10px;
    background: var(--navigation-bg);
    color: var(--navigation-color);
    padding: 10px;
    margin: -10px -10px 10px -10px;
}

hr {
    width: 80%;
    margin: 0 15px 15px 15px;
    border-radius: 2px;
    border: 0;
    background-color: white;
    height: 2px;
}

.main img {
    max-height: 100%;
    max-width: 100%;

    height: auto;
    width: auto;

    border-radius: 10px;
    margin: 25px;
    outline: var(--image-outline);
    outline-offset: -2px;
}
