<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gift</title>
    <link rel="stylesheet" href="/static/css/start.css">
    <script src="/static/js/start.js"></script>
</head>
<body onload="onLoad()">
    <div id="rotate" class="container" style="display: none">
        <h3>Поверни телефон</h3>
    </div>

    <div id="scroll" class="container" style="display: none">
        <h3>Листай вниз</h3>
    </div>

    <div id="scroll-2" class="container" style="display: none; margin: 580px auto 580px auto">
        <h3>Ще досі листай</h3>
    </div>

    <div id="done" class="container" style="display: none">
        <h3 style="margin-bottom: 10px">Все готово :)</h3>
        <div class="button" onclick="redirect()">Далі</div>
    </div>
</body>
</html>