<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gift</title>
    <link rel="stylesheet" href="/static/css/start.css">
    <script src="/static/js/start.js"></script>
</head>
<body>
    <div class="container">
        <h3>Все готово</h3>
        <div class="button">Далі</div>
    </div>

    <div id="yep" class="yep">Size</div>

    <div onclick="window.location.href = 'http://127.0.0.1:5000/main/width=1000/height=1000'" style="width: 75px; height: 25px; background: red"></div>

    <div style="height: 4000px"></div>

</body>
</html>